html{
    --greybgcolor: #333333;
    --whitebgcolor: white;
    --blackbgcolor: black;
}
.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    cursor: pointer;
    }
    .light_theme{
        background-color: var(--whitebgcolor);
        color: var(--blackbgcolor);
    }
    .dark_theme{
        background-color: var(--greybgcolor);
        color: var(--whitebgcolor);
    }
    
      